<!DOCTYPE html>
<html>

<!--DEFINING THE HEADER TO CONTAIN BOOTSTRAP STYLING-->
<head>
    <meta charset="utf-8" />
    <title>Leading Causes - Drill</title>
    
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Math-JS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.min.js"></script>

    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    
    <!-- My personal stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    

</head>

<!--INDEX PAGE-->
<body>
    <!--NAVIGATION BAR TO BE USED ACROSS ALL PAGES-->
    <nav class="navbar navbar-light" style="background-color:rgb(7, 18, 82)">
            <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"style="color:white">Home</a>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        </li>
                        <li><a href="https://leading-causes-of-death.herokuapp.com/drillCause/start=1999/end=2016/cause=Cancer" style="color:white; background-color:lightblue">Switch to "By Cause"</a></li>
                        <li><a href="https://leading-causes-of-death.herokuapp.com/map/year=2016" style="color:white;">Map</a></li>
                        <li><a href="https://leading-causes-of-death.herokuapp.com/drill/start=1999/end=2016/state=Alabama" style="color:white">Analysis</a></li>
                        <li><a href="https://leading-causes-of-death.herokuapp.com/teampage"style="color:white">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <!-- PAGE SPECIFIC ELEMENTS BELOW -->

<!-- Hidden html elements rendered by flask for grabbing year & state data to populate the js initializer with -->

<div id="hiddenDrillStart" value="{{ dict.start }}"></div>
<div id="hiddenDrillEnd" value="{{ dict.end }}"></div>
<div id="hiddenDrillState" value="{{ dict.state }}"></div>

<!-- Container for the Metadata panel -->
    
    <div class="container">
        <div class="row">
            <div class="col-md=12">
                <div class="panel panel-primary" style="margin-top:20px">
                    <div class="panel-heading">
                        <h3 class="panel-title">MetaData</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-md-2">
                <div class="well">
                    <h5>Select a Start Year:</h5>
                    <select id="selStartYear"></select>
                    <h5>Select an End Year:</h5>
                    <select id="selEndYear"></select>
                    <h5>Select a State:</h5>
                    <select id="selState"></select>
                    <br><br>
                    <input type=submit class='btn btn-primary' value='Filter Data' onclick=refreshDrillPage()>
                </div>
            </div>
            <div class="col-md-10">
                <!-- Container for the tree map -->
                <div id='tree' style="width: 900px; height: 500px;"></div>
            </div>
        </div>
    


<!-- Container for the line chart -->
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary" style="margin-top:20px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Line Chart Filters:</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <input type="checkbox" id="1" value="alzheimer" onchange="onCheckboxer(this)" checked> Alzheimer's<br>
                        <input type="checkbox" id="2" value="cancer" onchange="onCheckboxer(this)" checked> Cancer<br>
                        <input type="checkbox" id="3" value="CLRD" onchange="onCheckboxer(this)" checked> CLRD<br>
                        <input type="checkbox" id="4" value="diabetes" onchange="onCheckboxer(this)" checked> Diabetes<br>
                        <input type="checkbox" id="5" value="heart_disease" onchange="onCheckboxer(this)" checked> Heart Disease<br>
                        <input type="checkbox" id="6" value="influenza" onchange="onCheckboxer(this)" checked> Influenza & Pneumonia<br>
                        <input type="checkbox" id="7" value="kidney_disease" onchange="onCheckboxer(this)" checked> Kidney Disease<br>
                        <input type="checkbox" id="8" value="stroke" onchange="onCheckboxer(this)" checked> Stroke<br>
                        <input type="checkbox" id="9" value="suicide" onchange="onCheckboxer(this)" checked> Suicide<br>
                        <input type="checkbox" id="0" value="accidents" onchange="onCheckboxer(this)" checked> Accidents<br><br>
                        <button type="button" class="btn btn-primary" onclick="removeChecks()">Uncheck All</button><br><br>
                        <button type="button" class="btn btn-primary" onclick="returnChecks()">Check All</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div id="linechart" style="margin-top:20px; margin-bottom: 50px;border: 5px solid #336699; overflow:auto;"></div>
        </div>
    </div>
</div>

<!--FOOTER TO BE USED ACROSS ALL PAGES-->
<footer class="footer">
    <!-- Footer Elements -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <div class="container">
        <br/>
        <div class="footer-copyright text-center py-3"><font color="white">© 2018 Copyright: Jeffrey Box, John Commander, John Giglio, Bill Magill, & Luke Williams</font><br/><br/>
            <div class="mb-5 flex-center">
                <!-- Notes: fa-2x doubles the icon size, and 'fa-fw' adds  spacing after the icon-->
                <!-- Github -->
                <a class="ic" href = "https://github.com/Jccommander/LeadingCausesofDeathUSA">
                    <i class="fab fa-github fa-3x" style="color:white"></i></a>
                <!-- 
                <a class="ic" href = "https://bootcamp.pe.gatech.edu/data/lp1/?s=Google-Unbranded&dki=Data%20Science&utm_cost=0&trkid=V3ADW427502_53882828873_aud-489106722912:kwd-304086169812__253238998067_g_c__&mkwid=TCVWe2l0_dc&pkw=%2Bdata%20%2Bscientist%20%2Bsalary&pcrid=253238998067&pmt=b&utm_source=google&utm_medium=cpc&utm_campaign=%5BS%5D+Data+-+Data+Sciencet+-+&utm_term=%2Bdata%20%2Bscientist%20%2Bsalary&utm_content=253238998067&s=google&k=%2Bdata%20%2Bscientist%20%2Bsalary&gclid=CjwKCAjwo_HdBRBjEiwAiPPXpI5Hd_IC0S2YVkhnL3viYTKye8ogabLdtyRBCvIY-Nx1_kLWvOD9whoC8LsQAvD_BwE">
                <i class="fa fa-certificate fa-2x fa-fw" style="color:white"> </i>
                </a>GT --> 
            </div>
            <br/>
        </div>
    </div>
</footer>

<!-- THE FOLLOWING IS REQUIRED FOR BOOTSTRAP INTERACTIVE COMPONENTS -EX- DROPDOWNS. RECOMMENDED BOTTOM PLACEMENT FOR FASTER LOAD TIME-->

    <!-- jQuery Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
    <script src="{{ url_for('static', filename='js/drill/plotly.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drill/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drill/drill.js') }}"></script>




</html>
