<!DOCTYPE html>
<html>

<!--DEFINING THE HEADER TO CONTAIN BOOTSTRAP STYLING-->
<head>
        <meta charset="utf-8">
        <title>Mimic Analysis - Teampage</title>
        
        <!-- d3 JavaScript -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
        <!-- Personal stylesheets -->
        <link rel="stylesheet" href="../static/css/IndexStyle.css">
    
    </head>

<!--INDEX PAGE-->
<body>
    
    <!--NAVIGATION BAR TO BE USED ACROSS ALL PAGES-->
    <nav class="navbar navbar-light">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"style="color:white">Home</a>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right"></li>
                        <li><a href="https://mimic.physionet.org/" style="color:white">Data</a></li>
                        <li><a href="https://mimic-predictive-analysis.herokuapp.com/teampage"style="color:white">Team</a></li>
                        </ul>
                </div>
            </div>
        </nav>

    <!-- INDIVIDUAL PAGE CODE GOES HERE -->
    <!--ROW 1: Team Name and Picture-->    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Project Team
                </h1>
                <hr>
            </div>
        </div>
    </div>

    <!--ROW 2: Names-->
    <div class="container">
        <div class="row" style="background-color: white">
            <div class="col-md-3">
                <a href = "https://www.linkedin.com/in/jeffreybox/">
                    <img class="center-small" 
                    src = "https://github.com/Jccommander/LeadingCausesofDeathUSA/blob/master/leading-causes-of-death/static/images/jeff_box.jpg?raw=true"></a>
            </div>
            <div class="col-md-9">  
                <h3><strong>Jeff Box</strong></h3>
                <ul class="list-unstyled">
                    <li>Advanced Analytics Consultant at Slalom</li>
                    <li><a href="https://www.linkedin.com/in/jeffreybox/">Linkedin</a> </li>
                    <li><a href="https://github.com/jeffreybox">GitHub</a> </li>
                 </ul>
            </div>
        </div>

        <div class="row" style="background-color: white">
            <div class="col-md-3">
                <a href = "https://www.linkedin.com/in/jrgiglio/">
                    <img class="center-small" 
                    src = "https://github.com/Jccommander/LeadingCausesofDeathUSA/blob/master/leading-causes-of-death/static/images/john_giglio.jpg?raw=true"></a>
            </div>
            <div class="col-md-9">  
                <h3><strong>John Giglio</strong></h3>
                <ul class="list-unstyled">
                    <li>Data Analyst at General Produce Inc </li>
                    <li><a href="https://www.linkedin.com/in/jrgiglio/">Linkedin</a> </li>
                    <li><a href="https://github.com/johngiglio">GitHub</a> </li>
                    </ul>
            </div>
        </div>

        <div class="row" style="background-color: white">
            <div class="col-md-3">
                <a href = "https://www.linkedin.com/in/bill-magill/">
                    <img class="center-small" 
                    src = "https://github.com/Jccommander/LeadingCausesofDeathUSA/blob/master/leading-causes-of-death/static/images/bill_magill.jpg?raw=true"></a>
            </div>
            <div class="col-md-9">  
                <h3><strong>Bill Magill</strong></h3>
                <ul class="list-unstyled">
                    <li>Business Operations Analyst formerly with Lockheed Martin and SUPPLY.com</li>
                    <li><a href="https://www.linkedin.com/in/bill-magill/">Linkedin</a> </li>
                    <li><a href="https://github.com/wmagill4">GitHub</a> </li>
                    </ul>
            </div>
        </div>

        <div class="row" style="background-color: white">
            <div class="col-md-3">
                <a href = "https://www.linkedin.com/in/luke-williams-12864085/">
                    <img class="center-small" 
                    src = "https://github.com/Jccommander/LeadingCausesofDeathUSA/blob/master/leading-causes-of-death/static/images/luke_williams.jpg?raw=true"></a>
            </div>
            <div class="col-md-9">  
                <h3><strong>Luke Williams</strong></h3>
                <ul class="list-unstyled">
                    <li>ICU and ED Physician Assistant at Emory Healthcare</li>
                    <li><a href="https://www.linkedin.com/in/luke-williams-12864085/">Linkedin</a> </li>
                    <li><a href="https://github.com/luker0bert">GitHub</a> </li>
                    </ul>
            </div>
        </div>

        <div class="row" style="background-color: white">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">  
                <h3><strong>John Commander</strong></h3>
                <ul class="list-unstyled">
                    <li>Legal Case Clerk at Commander Law LLC </li>
                    <li><a href="https://www.linkedin.com/in/john-commander/">Linkedin</a> </li>
                    <li><a href="https://github.com/Jccommander">GitHub</a> </li>
                    </ul>
            </div>
        </div>

<!--FOOTER TO BE USED ACROSS ALL PAGES-->
<footer class="footer">
        <!-- Footer Elements -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
        <div class="container">
            <br/>
            <div class="footer-copyright text-center py-3"><font color="white">© 2018 Copyright: Jeffrey Box, John Commander, John Giglio, Bill Magill, & Luke Williams</font><br/><br/>
                <div class="mb-5 flex-center">
                    <!-- Notes: fa-2x doubles the icon size, and 'fa-fw' adds  spacing after the icon-->
                    <!-- Github -->
                    <a class="ic" href = "https://github.com/luker0bert/CriticalCareAnalysis">
                        <i class="fab fa-github fa-3x" style="color:white"></i></a>
                    <!-- 
                    <a class="ic" href = "https://bootcamp.pe.gatech.edu/data/lp1/?s=Google-Unbranded&dki=Data%20Science&utm_cost=0&trkid=V3ADW427502_53882828873_aud-489106722912:kwd-304086169812__253238998067_g_c__&mkwid=TCVWe2l0_dc&pkw=%2Bdata%20%2Bscientist%20%2Bsalary&pcrid=253238998067&pmt=b&utm_source=google&utm_medium=cpc&utm_campaign=%5BS%5D+Data+-+Data+Sciencet+-+&utm_term=%2Bdata%20%2Bscientist%20%2Bsalary&utm_content=253238998067&s=google&k=%2Bdata%20%2Bscientist%20%2Bsalary&gclid=CjwKCAjwo_HdBRBjEiwAiPPXpI5Hd_IC0S2YVkhnL3viYTKye8ogabLdtyRBCvIY-Nx1_kLWvOD9whoC8LsQAvD_BwE">
                    <i class="fa fa-certificate fa-2x fa-fw" style="color:white"> </i>
                    </a>GT --> 
                </div>
                <br/>
            </div>
        </div>
    </footer>

<!-- THE FOLLOWING IS REQUIRED FOR BOOTSTRAP INTERACTIVE COMPONENTS -EX- DROPDOWNS. RECOMMENDED BOTTOM PLACEMENT FOR FASTER LOAD TIME-->

    <!-- jQuery Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
